body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--tg-theme-bg-color, #161922);
    color: var(--tg-theme-text-color, #000000);
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #7e7d7d8a;
  }
  
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .username {
    font-size: 1rem;
    font-weight: bold;
    margin-left: 10px;
    color: aliceblue;
  }
  
  .counter {
    font-size: 2.50rem;
    margin: 20px 0;
    color: aliceblue;
    font-weight: bold;

  }
  
  .click-area img {
    width: 600px;
    height: 600px;
    cursor: pointer;
    transition: transform 0.2s;
    margin-top: 125px;
    -webkit-tap-highlight-color: transparent;
    border-radius: 50%;
  }
  
  /* .click-area img:hover {
    transform: scale(1.85);
  } */
  
  @media (max-width: 600px) {
    .header {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .username {
      font-size: 1rem;
    }
  
    .click-area img {
      width: 280px;
      height: 280px;
    }
  }
  

  /* Анимация нажатия */
#clickable.clicked {
  transform: scale(1.05);
  transition: transform 0.1s ease;
}

/* Летящая "1" */
.flying-one {
  position: absolute;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
  animation: flyUp 1s ease forwards;
  z-index: 999;
}

@keyframes flyUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: var(--tg-theme-bg-color, #161922);
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 999;
}

.tab {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: var(--tg-theme-hint-color, #8888885b);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.tab.active {
  color: var(--tg-theme-button-color, #888);
}

.icon {
  width: 24px;
  height: 24px;
  fill: currentColor;
  margin-bottom: 2px;
}
