body {
  margin: 0;
  font-family: Arial, sans-serif;
  /* background-color: #19222c; */
  background-image: url(./img/newbg.jpg);
}

.container {
  padding: 20px;
  padding-bottom: 80px;
  text-align: center;
  transition: background 0.5s ease;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border-bottom: 1px solid aliceblue;
  background-color: transparent;
}


/* .hdr-span {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.50rem;
} */

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.username {
  font-weight: bold;
  font-size: 1rem;
  color: aliceblue;
}

.counter {
  font-size: 2.05rem;
  margin-bottom: 20px;
  margin-top: 25px;
  font-weight: bold;
  color: aliceblue;
}

.click-area img {
  width: 300px;
  height: 300px;
  cursor: pointer;
  transition: transform 0.1s ease;
  -webkit-tap-highlight-color: transparent;
  border-radius: 50%;
  margin-top: 85px;
}

#clickable.clicked {
  transform: scale(0.95);
}

.flying-one {
  position: absolute;
  color: rgba(255, 255, 255, 0.521);
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
  animation: flyUp 1s ease forwards;
  z-index: 999;
}

@keyframes flyUp {
  0% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-100px); }
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #00000075;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #ccc;
}

.tab-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: #888;
  cursor: pointer;
  box-shadow: #ccc;
  -webkit-tap-highlight-color: transparent
}

.tab-button.active {
  color: #ffffffc5;
}

.icon {
  width: 30px;
  height: 30px;
  fill: currentColor;
  margin-bottom: 2px;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}


.rank-display {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 10px 0;
  color: aliceblue;
}

.rank-title {
  color: aliceblue;
}

.rank-desk {
  color: aliceblue;
  font-weight: bold;
  margin-bottom: 250px;
}

.rank-card {
  background-color: #1f2a38;
  border-radius: 12px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: white;
  align-items: flex-start;
  margin-bottom: 10px;
}

.rank-card-img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 10px;
}

.rank-card-text {
  display: flex;
  flex-direction: column;
}

.rank-card-text h3 {
  margin: 0;
  font-size: 1rem;
  color: #ffffff;
}

.rank-card-text p {
  margin: 0;
  font-size: 0.8rem;
  color: #bbbbbb;
}

.rank-points {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  color: aliceblue;
  border-top: 1px solid #333;
  padding-top: 6px;
}

.bonus-card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  background: #13131375;
  padding: 8px 10px;
  border-radius: 10px;
  margin: 10px 0;
  cursor: pointer;
  transition: transform 0.2s;
  height: 60px; /* уменьшенная высота */
}

.bonus-card:hover {
  transform: scale(1.02);
}

.bonus-card img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.bonus-card .text {
  color: white;
  font-size: 0.9rem;
}



.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.account-divider {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
  width: 100%;
  opacity: 0.3;
}

#account-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#account-username {
  font-size: 1.2rem;
  font-weight: bold;
  color: aliceblue;
  margin-bottom: 30px;
}

.account-subtab-content {
  display: none;
}

.account-subtab-content.active {
  display: block;
}


.wallet-button {
  padding: 10px 20px;
  background-color: #0088cc;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 auto; /* Центрирует кнопку */
  margin-top: 400px;
}

.wallet-button:hover {
  background-color: #065b86;
}

.wallet-icon {
  width: 20px;
  height: 20px;
}

.boost-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  -webkit-tap-highlight-color: transparent;
}

.boost-btn {
  background-color: #13131375;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.boost-btn:hover {
  background-color: #202020a2;
}

.boost-btn.used {
  opacity: 0.5;
  pointer-events: none;
}

.inner-tabs {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 10px;
}

.inner-tab-button {
  padding: 8px 14px;
  font-size: 14px;
  background-color: #00000075;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
  -webkit-tap-highlight-color: transparent; /* Убираем блик при нажатии */
}

.inner-tab-button.active {
  background-color: #45495393;
}

.inner-tab-content {
  display: none;
  text-align: center;
  color: white;
}

.inner-tab-content.active {
  display: block;
}

.wallet-button-wrapper {
  margin-top: auto;
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.wallet-button {
  background-color: #45495349;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.wallet-icon {
  width: 20px;
  height: 20px;
  -webkit-tap-highlight-color: ;
}


.inventory-item {
  background-color: #13131375;
  border-radius: 10%;
  width: 100px; /* Фиксированная ширина ячейки */
  height: 100px; /* Фиксированная высота ячейки */
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: background-color 0.5s, color 0.5s;
}

.inventory-item:active {
  background-color: #13131375;
  color: #13131375;
}

@media (max-width: 768px) {
  .inventory-grid {
    overflow-x: auto;
  }
} */

@media (max-width: 480px) {
  .inventory-grid {
    overflow-x: auto;
  }
}

/* Стиль для кнопки кликера */
.click-area img {
  width: 270px; /* Размер картинки кнопки */
  height: 270px;
  cursor: pointer;
  transition: transform 0.1s ease;
}

.inventory-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 в ряд */
  gap: 10px;
  justify-items: center;
  padding: 20px;
  overflow: visible; /* отключаем скролл */
}

.inventory-item img {
  max-width: 80%;
  max-height: 70%;
}


.inventory-item p {
  font-size: 12px;
  margin-top: 5px;
  text-overflow: ellipsis; /* Если текст не помещается, отображается "..." */
  white-space: nowrap; /* Не разрешаем тексту переноситься на новую строку */
  overflow: hidden; /* Обрезаем текст, который не помещается */
  padding-bottom: 10px; /* Отступ снизу 3 пикселя */
  color: aliceblue;
  font-weight: bold;
}

.inventory-item img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 10px;
}

.inventory-item .divider {
  width: 100%;
  height: 2px;
  background-color: #ccc;
  margin: 10px 0;
}

.inventory-item p {
  margin: 0;
  font-size: 0.9rem;
}
